<div id="component" class="first-sect section" [style.padding-top]="screen() === 'mobile' ? '3.5rem' : '4rem'">
    <div class="dashboard">
        <div class="dashboard-side scrollable" [class.drawer]="screen() !== 'desktop'" [style.transform]="screen() !== 'desktop' ? drawerTransform() : 'none'">
            <div class="dashboard-title">
                <h5>Component</h5>
            </div>
            <div class="dashboard-btn">
                <div class="search-container mb-2">
                    <moz-icon color="grey">search</moz-icon>
                    <input type="text" placeholder="Search..." (input)="onSearch($event)">
                </div>
                @for (component of filteredComponents(); track component) {
                    <div class="component-btn" [class.active]="componentActive() === component" (click)="navigateTo(component)">
                        <p>{{ component.split('-').join(' ') }}</p>
                        <div class="component-line">
                            <div class="cl1"></div>
                            <div class="cl2"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="dashboard-content scrollable">
            @if (screen() !== 'desktop') {
                <div class="drawer-switch-button" (click)="toggleDrawer()">
                    <moz-button model="flavor" color="primary" full>
                        <moz-icon color="primary">menu_dots</moz-icon>
                    </moz-button>
                </div>
            }
            <router-outlet></router-outlet>
            @if (isDrawerOpen() === true) {
                <div class="shade-layer" (click)="toggleDrawer()"></div>
            }
        </div>
    </div>
    
    <div class="copy-toast" [class.show]="doc.copied()">
        <moz-icon color="success">check_circle</moz-icon>
        <p>Copied to clipboard!</p>
    </div>
</div>