@use "mozek-angular/src/styles" as moz;

:host {
    --border-color: #eee;
    --moz-color-grey: #{moz.moz-get-color(grey, 500)};
    --moz-color-grey-lite: #{moz.moz-get-color(grey, 200)};

    width: 100%; height: fit-content;

    .container {
        margin: 0 auto;
        max-width: 100%;
        @media (min-width: 1400px) { max-width: 72rem;}
    }

    .section {
        width: 100%; height: fit-content;
        border-bottom: solid 0.1rem var(--moz-color-primary-lite);
        &:nth-last-child(1) { border: none;}
    }

    .sect-title {
        display: flex;
        width: 100%; height: fit-content;
        padding: var(--moz-space-4) 0 var(--moz-space-3);
        border-bottom: solid 0.15rem color-mix(in srgb, var(--moz-color-primary) 50%, white);
        background-image: radial-gradient( color-mix(in srgb, var(--moz-color-primary) 30%, white) 0.08rem, transparent 1px);
        background-size: 1rem 1rem;
        background-color: color-mix(in srgb, var(--moz-color-primary-lite) 30%, white);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: var(--moz-space-3);

        .title {
            display: flex;
            width: 80%; height: fit-content;
            padding: var(--moz-space-2);
            border: solid 0.12rem color-mix(in srgb, var(--moz-color-primary) 50%, white);
            border-radius: var(--moz-radius-lg);
            background-color: var(--moz-color-background);
            outline: solid 0.6rem var(--moz-color-primary-lite);
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: var(--moz-space-3);

            font-weight: 800 !important;
            color: var(--moz-color-text);
            @include moz.moz-typography('title-lg');

            img {
                height: 3rem;
                aspect-ratio: 1 / 1;
            }
            p { color: var(--moz-color-grey);}
        }
        @media (max-width: 768px) {
            .title {
                flex-direction: column;
                text-align: center;

                img {
                    height: 2.5rem;
                }
            }
        }
    }
    
    .subsect-title {
        position: relative;
        display: flex;
        width: 100%; height: fit-content;
        padding: var(--moz-space-2) 0;
        background-color: var(--moz-color-primary-lite);
        justify-content: center;

        &::before {
            content: '';
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            width: 100%; height: 100%;
            background-image: repeating-linear-gradient( 45deg, color-mix(in srgb, var(--moz-color-primary) 50%, white) 0px, color-mix(in srgb, var(--moz-color-primary) 50%, white) 1px, var(--moz-color-primary-lite) 1px, var(--moz-color-primary-lite) 8px);
            mask-image: radial-gradient(
                ellipse 8% 80% at 0% 50%,
                #000 70%,
                transparent 110%
            );
            -webkit-mask-image: radial-gradient(
                ellipse 8% 80% at 0% 50%,
                #000 70%,
                transparent 110%
            );
        }

        &::after {
            content: '';
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            width: 100%; height: 100%;
            background-image: repeating-linear-gradient( 45deg, color-mix(in srgb, var(--moz-color-primary) 50%, white) 0px, color-mix(in srgb, var(--moz-color-primary) 50%, white) 1px, var(--moz-color-primary-lite) 1px, var(--moz-color-primary-lite) 8px);
            mask-image: radial-gradient(
                ellipse 8% 80% at 100% 50%,
                #000 70%,
                transparent 110%
            );
            -webkit-mask-image: radial-gradient(
                ellipse 8% 80% at 100% 50%,
                #000 70%,
                transparent 110%
            );
        }

        .title {
            display: flex;
            width: 80%; height: fit-content;
            padding: var(--moz-space-2);
            border: solid 0.12rem color-mix(in srgb, var(--moz-color-primary) 50%, white);
            border-radius: var(--moz-radius-lg);
            background-color: var(--moz-color-background);
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: var(--moz-space-3);
            z-index: 10;

            font-weight: 800 !important;
            color: var(--moz-color-text);
            @include moz.moz-typography('title-lg');
        }
    }

    .code-area {
        width: fit-content; height: fit-content;
        padding: 0.3rem var(--moz-space-2);
        font-family: "Courier Prime", monospace;
        border-radius: var(--moz-radius-sm) !important;
        background-color: #eee;
        border-color: #ddd;
        @include moz.root-border();

        &.highlight {
            border-color: var(--moz-color-primary);
            background-color: var(--moz-color-primary-lite);
        }

        p { font-size: 0.8rem;}
    }

    .font-1 { font-family: "Titan One", sans-serif;}

    .w-5 { width: 5rem;}
}

.shelf {
    display: flex;
    width: 100%; height: fit-content;
    padding: var(--moz-space-5);
    gap: var(--moz-space-3);

    @media (max-width: 768px) {
        padding: var(--moz-space-5) var(--moz-space-3);
    }

    .library {
        flex: 1 1 0;
        display: flex;
        width: 100%; height: fit-content;
        flex-direction: column;
        gap: var(--moz-space-2);

        .label {
            margin-bottom: var(--moz-space-1);
            font-weight: var(--moz-font-weight-semibold);
        }

        .list-header {
            margin-bottom: var(--moz-space-2);
            p { font-weight: var(--moz-font-weight-semibold);}
        }

        .list {
            display: flex;
            width: 100%;
            padding: calc(var(--moz-space-1) / 2) 0;
            justify-content: space-between;
            align-items: center;
            border-top: solid 0.1rem #eee;

            &:nth-child(1) { border-top: none;}
            
            .listlabel {
                display: flex;
                width: fit-content;
                font-weight: 600;
                gap: var(--moz-space-1);

                img {
                    height: 1rem;
                    aspect-ratio: 1 / 1;
                }
            }
        }
    }
}

.demo-container {
    position: relative;
    height: auto;
    padding: var(--moz-space-2);

    @media (max-width: 768px) {
        padding: var(--moz-space-2) 0;
    }

    .demo {
        position: sticky;
        top: var(--moz-space-10); left: 0;
        display: flex;
        width: 100%;
        border-radius: var(--moz-radius-lg);
        border: solid 0.1rem var(--border-color);
        background: #1f1f1f;
        flex-direction: column;
        overflow: hidden;

        .demo-label { color: #cccccc;}

        .output {
            position: relative;
            display: flex;
            width: 100%; height: 100%;
            border: solid 0.1rem #444444;
            border-radius: var(--moz-radius-default);
            box-shadow: rgb(0, 0, 0) 0 0 0.4rem 0px inset, rgba(25, 25, 25, 0.5) 0 0 0.4rem 1px inset;
            background: #313131;
            background-image:
                linear-gradient(to right, #444444 1px, transparent 1px),
                linear-gradient(to bottom, #444444 1px, transparent 1px);
            background-size: 20px 20px;
            justify-content: center;
            align-items: center;

            &::after {
                content: '';
                position: absolute;
                width: 100%; height: 100%;
                border-radius: var(--moz-radius-default);
                box-shadow: rgb(0, 0, 0) 0 0 0.4rem 0px inset, rgba(25, 25, 25, 0.5) 0 0 0.4rem 1px inset;
                z-index: 90;
            }

            .outer-demo {
                display: flex;
                width: 80%; height: 80%;
                border: solid 0.2rem var(--moz-color-danger);

                .demo-sample {
                    flex: 1 1 auto;
                    width: 100%; height: auto;
                    border: solid 0.1rem var(--moz-color-primary);
                    background: var(--moz-color-primary-lite);
                }
            }
        }
        .input-section {
            display: flex;
            width: 100%;
            padding: var(--moz-space-2);
            font-family: "Courier Prime", monospace;
            color: #ce9178;
            border-top: solid 0.1rem #707070;
            background: #1f1f1f;
            align-items: center;

            .input {
                width: 100%;
                color: #ce9178;
                border: none;
                border-radius: 0.2rem;
                background: transparent;
                outline: none;

                &:focus {
                    background-color: var(--border-color);
                }
            }

            .colo-blue-dark { color: #569dd6;}
            .colo-blue { color: #9cdcff;}
            .colo-white { color: white;}
            .colo-grey { color: #808080;}

            &.border-none { border: none !important;}
        }
    }

    &.sect-position {
        .demo .output {
            position: relative;
            overflow: hidden;
            .sample-cardboard {
                position: absolute;
                top: 0; right: 0;
                height: 100%;
                border-radius: var(--moz-radius-default) 0 0 var(--moz-radius-default);
                background: white;
                @include moz.root-shadow(2);

            }

            .demo-sample {
                position: absolute;
                width: 80%; height: 80%;
                border: solid 0.1rem var(--moz-color-primary);
                border-radius: var(--moz-radius-lg);
                background: var(--moz-color-primary-lite);
                z-index: 0;
                @include moz.root-shadow(2);
            }
        }
    }

    &.sect-text {
        width: 100%;

        .demo {
            height: fit-content;
            
            .output {
                height: 8rem;

                .outer-demo {
                    display: flex;
                    align-items: center;
                    .demo-sample {
                        width: 100%; height: fit-content;
                        font-family: "Titan One", sans-serif;
                        font-size: 4rem;
                        color: white;
                        border: none;
                        background: transparent;
                        align-items: center;

                        @media (max-width: 768px) {
                            font-size: 2.5rem;
                        }
                    }
                }
            }
        }
    }
}