<div class="sect-title">
    <div class="title container">
        <img src="assets/images/logo/mozek_vector_blue.svg" alt="Mozek Logo Point">
        {{title | titlecase}}
    </div>
    <div class="subtitle">
        <h4><span class="tag">&lt;</span>moz-{{title}}<span class="tag">&gt;</span></h4>
        <p class="description-text">{{description}}</p>
    </div>
</div>

<div class="container">
    <div class="sample">
        <div class="title">
            <img src="assets/images/logo/mozek_vector_blue.svg" alt="Mozek Logo Point">
            Model
        </div>
        <div class="description pb-0">
            <p>Each model has a distinct visual style and use case. Choose the appropriate model based on the context and desired visual hierarchy.</p>
        </div>
        @for (model of models; track model) {
            <div class="content">
                <div class="sub-title">{{ model | titlecase }}</div>
                <div class="sample-box" [class.glass-background]="model === 'glass'">
                    <moz-button [model]="model">Default</moz-button>
                    <div class="flex w-full flex-wrap gap-2">
                        @for (color of colors; track color) {
                            <moz-button [model]="model" [color]="color">{{ color | titlecase }}</moz-button>
                        }
                    </div>
                </div>
                <div class="sample-code">
                    <div class="open-code" (click)="openSource(model)">
                        Source Code 
                        <moz-icon color="#ffffff" [style.transform]="isOpen(model) ? 'rotate(180deg)' : 'rotate(0deg)'">arrow_alt_down</moz-icon>
                    </div>
                    <div class="code-space" [class.is-open]="isOpen(model)" [style.max-height]="isOpen(model) ? '50rem' : '0'">
                        @for (color of colors; track color) {
                            <p class="code">
                                <mozek-code tag="moz-button" [model]="model" [color]="color" inline>
                                    {{ color | titlecase }}
                                </mozek-code>
                            </p>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    
    <div class="sample">
        <div class="title">
            <img src="assets/images/logo/mozek_vector_blue.svg" alt="Mozek Logo Point">
            Disabled State
        </div>
        <div class="description">
            <p>Buttons in a disabled state are non-interactive and visually indicate that the action is not available.</p>
        </div>
        <div class="content">
            <div class="sample-box">
                <div class="flex w-full flex-wrap gap-2">
                    @for (model of models; track model) {
                        <moz-button [model]="model" disabled>{{ model | titlecase }}</moz-button>
                    }
                </div>
            </div>
            <div class="sample-code">
                <div class="open-code" (click)="openSource('disabled')">
                    Source Code 
                    <moz-icon color="#ffffff" [style.transform]="isOpen('disabled') ? 'rotate(180deg)' : 'rotate(0deg)'">arrow_alt_down</moz-icon>
                </div>
                <div class="code-space" [class.is-open]="isOpen('disabled')" [style.max-height]="isOpen('disabled') ? '50rem' : '0'">
                    @for (model of models; track model) {
                        <p class="code">
                            <mozek-code tag="moz-button" [model]="model" extra="disabled" inline>
                                {{ model | titlecase }}
                            </mozek-code>
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
    
    <div class="sample">
        <div class="title">
            <img src="assets/images/logo/mozek_vector_blue.svg" alt="Mozek Logo Point">
            Full Width
        </div>
        <div class="description pb-0">
            <p>Buttons with full width are useful for creating a consistent and visually appealing layout, especially in forms or when aligning buttons to the edges of their container.</p>
        </div>
        <div class="content">
            <div class="sub-title">Width: 100%</div>
            <div class="sample-box">
                <div class="flex w-full flex-wrap gap-2">
                    @for (model of models; track model) {
                        <moz-button [model]="model" color="primary" full>{{ model | titlecase }}</moz-button>
                    }
                </div>
            </div>
            <div class="sample-code">
                <div class="open-code" (click)="openSource('full')">
                    Source Code 
                    <moz-icon color="#ffffff" [style.transform]="isOpen('full') ? 'rotate(180deg)' : 'rotate(0deg)'">arrow_alt_down</moz-icon>
                </div>
                <div class="code-space" [class.is-open]="isOpen('full')" [style.max-height]="isOpen('full') ? '50rem' : '0'">
                    @for (model of models; track model) {
                        <p class="code">
                            <mozek-code tag="moz-button" [model]="model" color="primary" extra="full" inline>
                                {{ model | titlecase }}
                            </mozek-code>
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>