<div class="sect-title">
    <div class="title container">
        <img src="assets/images/logo/mozek_vector_blue.svg" alt="Mozek Logo Point">
        {{title | titlecase}}
    </div>
    <div class="subtitle">
        <h4><span class="tag">&lt;</span>moz-{{ title }}<span class="tag">&gt;</span></h4>
        <p class="description-text">{{ descripition }}</p>
    </div>
</div>

<div class="container">
    <div class="sample">
        <div class="title">
            <img src="assets/images/logo/mozek_vector_blue.svg" alt="Mozek Logo Point">
            Basic
        </div>
        <div class="content">
            <div class="sample-box">
                <div class="sample-radio-vertical" [class.mobile-sample-radio]="screen() === 'mobile'">
                    @if (ready) {
                        <moz-radio-group
                            name="moon"
                            (valueChange)="moon = $event"
                        >
                            <moz-radio value="cresent" color="primary" [checked]="moon === 'cresent'">Cresent</moz-radio>
                            <moz-radio value="half" color="primary" [checked]="moon === 'half'">Half</moz-radio>
                            <moz-radio value="full" color="primary" [checked]="moon === 'full'">Full</moz-radio>
                        </moz-radio-group>
                    }
                    <img [src]="'assets/images/sample-image/' + moon + '-moon.svg'" class="sample-radio-image" alt="Sample Moon">
                </div>
            </div>
            <div class="sample-code">
                <div class="open-code" (click)="openSource('basic')">
                    Source Code 
                    <moz-icon color="#ffffff" [style.transform]="isOpen('basic') ? 'rotate(180deg)' : 'rotate(0deg)'">arrow_alt_down</moz-icon>
                </div>
                <div class="code-space" [class.is-open]="isOpen('basic')" [style.max-height]="isOpen('basic') ? '13rem' : '0'">
                    <p class="code">
                        <span class="tag"><span class="symbol">&lt;</span>moz-{{title}}-group</span><br>
                            <span class="blue ml-4"> name</span>=<span class="orange">"moon"</span><br>
                            <span class="blue ml-4"> (valueChange)</span>=<span class="orange">"<span class="blue">moon <span class="white">=</span> $event</span>"</span><br>
                        <span class="symbol">&gt;</span><br>
                            <mozek-code class="ml-4" tag="moz-radio" color="primary" value="cresent" radioCheck="moon,cresent" inline>Cresent</mozek-code><br>
                            <mozek-code class="ml-4" tag="moz-radio" color="primary" value="half" radioCheck="moon,half" inline>Half</mozek-code><br>
                            <mozek-code class="ml-4" tag="moz-radio" color="primary" value="full" radioCheck="moon,full" inline>Full</mozek-code><br>
                        <span class="tag"><span class="symbol">&lt;/</span>moz-{{title}}-group<span class="symbol">&gt;</span></span><br><br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="sample">
        <div class="title">
            <img src="assets/images/logo/mozek_vector_blue.svg" alt="Mozek Logo Point">
            Orientation: Vertical
        </div>
        <div class="description">
            <p>The Radio component supports vertical arrangements using the orientation property. By default, the radios are displayed vertically, stacking options from top to bottom.</p>
        </div>
        <div class="content">
            <div class="sample-box">
                <div class="sample-radio-vertical" [class.mobile-sample-radio]="screen() === 'mobile'">
                    @if (ready) {
                        <moz-radio-group
                            orientation="vertical"
                            name="planet"
                            (valueChange)="planet = $event"
                        >
                            <moz-radio value="earth" color="secondary" [checked]="planet === 'earth'">Earth</moz-radio>
                            <moz-radio value="mars" color="secondary" [checked]="planet === 'mars'">Mars</moz-radio>
                            <moz-radio value="neptune" color="secondary" [checked]="planet === 'neptune'">Neptune</moz-radio>
                        </moz-radio-group>
                    }
                    <img [src]="'assets/images/sample-image/' + planet + '-planet.svg'" class="sample-radio-image" alt="Sample Moon">
                </div>
            </div>
            <div class="sample-code">
                <div class="open-code" (click)="openSource('vertical')">
                    Source Code 
                    <moz-icon color="#ffffff" [style.transform]="isOpen('vertical') ? 'rotate(180deg)' : 'rotate(0deg)'">arrow_alt_down</moz-icon>
                </div>
                <div class="code-space" [class.is-open]="isOpen('vertical')" [style.max-height]="isOpen('vertical') ? '14rem' : '0'">
                    <p class="code">
                        <span class="tag"><span class="symbol">&lt;</span>moz-{{title}}-group</span><br>
                            <span class="blue ml-4"> orientation</span>=<span class="orange">"vertical"</span><br>
                            <span class="blue ml-4"> name</span>=<span class="orange">"planet"</span><br>
                            <span class="blue ml-4"> (valueChange)</span>=<span class="orange">"<span class="blue">planet <span class="white">=</span> $event</span>"</span><br>
                        <span class="symbol">&gt;</span><br>
                            <mozek-code class="ml-4" tag="moz-radio" color="secondary" value="earth" radioCheck="planet,earth" inline>Earth</mozek-code><br>
                            <mozek-code class="ml-4" tag="moz-radio" color="secondary" value="mars" radioCheck="planet,mars" inline>Mars</mozek-code><br>
                            <mozek-code class="ml-4" tag="moz-radio" color="secondary" value="neptune" radioCheck="planet,neptune" inline>Neptune</mozek-code><br>
                        <span class="tag"><span class="symbol">&lt;/</span>moz-{{title}}-group<span class="symbol">&gt;</span></span><br><br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="sample">
        <div class="title">
            <img src="assets/images/logo/mozek_vector_blue.svg" alt="Mozek Logo Point">
            Orientation: Horizontal
        </div>
        <div class="description">
            <p>The Radio component supports vertical arrangements using the orientation property. By default, the radios are displayed vertically, stacking options from top to bottom.</p>
        </div>
        <div class="content">
            <div class="sample-box">
                <div class="sample-radio-horizontal">
                    <img [src]="'assets/images/sample-image/' + alien + '-alien.svg'" class="sample-radio-image" alt="Sample Moon">
                    @if (ready) {
                        <moz-radio-group
                            orientation="horizontal"
                            name="alien"
                            (valueChange)="alien = $event"
                        >
                            <moz-radio value="zuzu" color="danger" [checked]="alien === 'zuzu'">Zuzu</moz-radio>
                            <moz-radio value="noro" color="danger" [checked]="alien === 'noro'">Noro</moz-radio>
                            <moz-radio value="lumi" color="danger" [checked]="alien === 'lumi'">Lumi</moz-radio>
                        </moz-radio-group>
                    }
                </div>
            </div>
            <div class="sample-code">
                <div class="open-code" (click)="openSource('horizontal')">
                    Source Code 
                    <moz-icon color="#ffffff" [style.transform]="isOpen('horizontal') ? 'rotate(180deg)' : 'rotate(0deg)'">arrow_alt_down</moz-icon>
                </div>
                <div class="code-space" [class.is-open]="isOpen('horizontal')" [style.max-height]="isOpen('horizontal') ? '14rem' : '0'">
                    <p class="code">
                        <span class="tag"><span class="symbol">&lt;</span>moz-{{title}}-group</span><br>
                            <span class="blue ml-4"> orientation</span>=<span class="orange">"horizontal"</span><br>
                            <span class="blue ml-4"> name</span>=<span class="orange">"alien"</span><br>
                            <span class="blue ml-4"> (valueChange)</span>=<span class="orange">"<span class="blue">alien <span class="white">=</span> $event</span>"</span><br>
                        <span class="symbol">&gt;</span><br>
                            <mozek-code class="ml-4" tag="moz-radio" color="danger" value="zuzu" radioCheck="alien,zuzu" inline>Zuzu</mozek-code><br>
                            <mozek-code class="ml-4" tag="moz-radio" color="danger" value="noro" radioCheck="alien,noro" inline>Noro</mozek-code><br>
                            <mozek-code class="ml-4" tag="moz-radio" color="danger" value="lumi" radioCheck="alien,lumi" inline>Lumi</mozek-code><br>
                        <span class="tag"><span class="symbol">&lt;/</span>moz-{{title}}-group<span class="symbol">&gt;</span></span><br><br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="sample">
        <div class="title">
            <img src="assets/images/logo/mozek_vector_blue.svg" alt="Mozek Logo Point">
            Disabled
        </div>
        <div class="description">
            <p>The Radio component can be disabled at both the radio-group and individual radio level. Disabling the group will disable all radios within it, while disabling a single radio will only affect that specific option.</p>
        </div>
        <div class="content">
            <div class="sample-box">
                <h6 class="mb-1">Radio Group Disabled</h6>
                <moz-radio-group
                    orientation="horizontal"
                    name="property"
                    (valueChange)="property = $event"
                    disabled
                >
                    <moz-radio value="condominium" color="success" [checked]="property === 'condominium'">Condominium</moz-radio>
                    <moz-radio value="bungalow" color="success" [checked]="property === 'bungalow'">Bungalow</moz-radio>
                    <moz-radio value="terraced" color="success" [checked]="property === 'terraced'">Terraced</moz-radio>
                </moz-radio-group>

                <h6 class="mt-3 mb-1">Radio Disabled</h6>
                <moz-radio-group
                    orientation="horizontal"
                    name="property"
                    (valueChange)="property = $event"
                >
                    <moz-radio value="condominium" color="success" [checked]="property === 'condominium'">Condominium</moz-radio>
                    <moz-radio value="bungalow" color="success" [checked]="property === 'bungalow'">Bungalow</moz-radio>
                    <moz-radio value="terraced" color="success" [checked]="property === 'terraced'" disabled>Terraced</moz-radio>
                </moz-radio-group>
            </div>
            <div class="sample-code">
                <div class="open-code" (click)="openSource('disabled')">
                    Source Code 
                    <moz-icon color="#ffffff" [style.transform]="isOpen('disabled') ? 'rotate(180deg)' : 'rotate(0deg)'">arrow_alt_down</moz-icon>
                </div>
                <div class="code-space" [class.is-open]="isOpen('disabled')" [style.max-height]="isOpen('disabled') ? '38rem' : '0'">
                    <p class="code">
                        <span class="comment">// Radio Group Disabled</span><br>
                        <span class="tag"><span class="symbol">&lt;</span>moz-{{title}}-group</span><br>
                            <span class="blue ml-4"> orientation</span>=<span class="orange">"horizontal"</span><br>
                            <span class="blue ml-4"> name</span>=<span class="orange">"property"</span><br>
                            <span class="blue ml-4"> (valueChange)</span>=<span class="orange">"<span class="blue">property <span class="white">=</span> $event</span>"</span><br>
                            <span class="blue ml-4"> disabled</span><br>
                        <span class="symbol">&gt;</span><br>
                            <mozek-code class="ml-4" tag="moz-radio" color="success" value="condominium" radioCheck="property,condominium" inline>Condominium</mozek-code><br>
                            <mozek-code class="ml-4" tag="moz-radio" color="success" value="bungalow" radioCheck="property,bungalow" inline>Bungalow</mozek-code><br>
                            <mozek-code class="ml-4" tag="moz-radio" color="success" value="terraced" radioCheck="property,terraced" inline>Terraced</mozek-code><br>
                        <span class="tag"><span class="symbol">&lt;/</span>moz-{{title}}-group<span class="symbol">&gt;</span></span><br><br>
                    </p><br>
                    <p class="code">
                        <span class="comment">// Radio Disabled</span><br>
                        <span class="tag"><span class="symbol">&lt;</span>moz-{{title}}-group</span><br>
                            <span class="blue ml-4"> orientation</span>=<span class="orange">"horizontal"</span><br>
                            <span class="blue ml-4"> name</span>=<span class="orange">"property"</span><br>
                            <span class="blue ml-4"> (valueChange)</span>=<span class="orange">"<span class="blue">property <span class="white">=</span> $event</span>"</span><br>
                        <span class="symbol">&gt;</span><br>
                            <mozek-code class="ml-4" tag="moz-radio" color="success" value="condominium" radioCheck="property,condominium" inline>Condominium</mozek-code><br>
                            <mozek-code class="ml-4" tag="moz-radio" color="success" value="bungalow" radioCheck="property,bungalow" inline>Bungalow</mozek-code><br>
                            <mozek-code class="ml-4" tag="moz-radio" color="success" value="terraced" radioCheck="property,terraced" extra="disabled" inline>Terraced</mozek-code><br>
                        <span class="tag"><span class="symbol">&lt;/</span>moz-{{title}}-group<span class="symbol">&gt;</span></span><br><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>