<div class="navbar w-full px-2" [style.height]="screen() === 'mobile' ? '3.5rem' : '4rem'">
    <div class="logo-sect">
        <img src="assets/images/logo/mozek_banner.svg" alt="Mozek Logo">
    </div>
    <span class="spacer"></span>
    <div class="btn-group">
        @if (screen() === 'desktop') {
            @for (tab of navtab; track tab) {
                <mozek-button model="flavor" class="text-capitalize" (click)="navigateTo(tab)">{{tab}}</mozek-button>
            }
            <mozek-button model="flavor" (click)="navigateTo('https://github.com/thecodemeor/mozek-package')" icon>
                <img src="assets/images/icon/github.svg" class="icon-btn" alt="Github Icon">
            </mozek-button>
        }
        @else {
            <mozek-button model="flavor" (click)="openMenu()" icon>
                <img src="assets/images/icon/menu.svg" class="icon-btn" alt="Menu Icon">
            </mozek-button>
        }
    </div>

    @if (screen() !== 'desktop') {
        <div #navmenu class="navmenu" [class.open]="menunavbar" [style.max-width]="screen() === 'mobile' ? '100%' : '15rem'">
            <moz-card model="fill" color="primary" class="menucard" advance>
                <moz-card-header class="w-full">
                    <span class="flex w-full justify-between items-center">
                        <h6>Mozek</h6>
                        <mozek-button model="flavor" (click)="menunavbar=false" icon>
                            <img src="assets/images/icon/close.svg" class="icon-btn closed" alt="Close Icon">
                        </mozek-button>
                    </span>
                </moz-card-header>
                <moz-card-body class="w-full">
                    <span class="flex w-full flex-col gap-1">
                        @for (tab of navtab; track tab) {
                            <div class="list-menu text-capitalize" (click)="navigateTo(tab); closeMenu()">{{tab}}</div>
                        }
                    </span>
                </moz-card-body>
            </moz-card>
        </div>
    }
</div>
<router-outlet/>
@if(!removeFooter()) {
    <div class="footer">
        <div class="flex flex-wrap">
            @for (item of landingpage; track item) {
                <div class="box">
                    <h6>{{item.title}}</h6>
                    @for (link of item.link; track link) {
                        <p class="text-btn" (click)="navigateTo(link.url)">{{link.name}}</p>
                    }
                </div>
            }
        </div>
        <footer>
            <moz-switch></moz-switch>
            <span class="copyright">© 2024 Mozek. All rights reserved.</span>
        </footer>
    </div>
}