@use "mozek-angular/src/styles" as moz;

:host {
    position: relative;
    display: flex;
    width: 100%; height: 100%;
    flex-direction: column;

    .icon-btn {
        width: auto; height: 100%;
    }
}

.navbar {
    position: fixed;
    top: 0; left: 0; right: 0;
    display: flex;
    color: var(--moz-color-text);
    background-color: var(--moz-color-background);
    box-shadow: 0 0 var(--moz-space-3) rgba(6, 170, 241, 0.2);
    align-items: center;
    z-index: 1000;

    .logo-sect {
        width: fit-content; height: 60%;
        cursor: pointer;
        img { width: auto; height: 100%;}
    }

    .btn-group {
        display: flex;
        height: 75%;
        padding: 0.3rem;
        border: solid 0.1rem var(--moz-color-primary);
        border-radius: var(--moz-radius-pill);
        background-color: #f5f5f5;
        gap: var(--moz-space-1);

        mozek-button { transition: all var(--moz-duration);}
    }

    .navmenu {
        position: absolute;
        top: 4rem; right: 0;
        width: 100%; height: fit-content;
        padding:  var(--moz-space-1) var(--moz-space-2);
        transform-origin: calc(100% - var(--moz-space-2)) 0;
        opacity: 0;
        pointer-events: none;
        transition: all var(--moz-duration-fast);

        &.open {
            height: fit-content;
            opacity: 1;
            pointer-events: auto;
        }

        .icon-btn.closed {
            width: auto; height: 0.6rem;
        }

        .list-menu {
            width: 100%;
            padding: 0.3rem var(--moz-space-1);
            border-radius: var(--moz-space-1);
            transition: all var(--moz-duration);
            cursor: pointer;

            &:hover { background-color: var(--moz-color-primary-lite);}
        }

        .menucard {
            @include moz.root-shadow(3);

            border: solid 0.1rem var(--moz-color-primary);
        }
    }
}

.footer {
    position: relative;
    display: block;
    width: 100%; height: fit-content;
    padding: 0;
    border-top: solid 0.2rem var(--moz-color-primary);

    .circle-background {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        width: 100%; height: 100%;
        background-color: color-mix(in srgb, var(--moz-color-primary) 20%, var(--moz-color-background) 80%);
        overflow: hidden;
        
        .blue-blur {
            position: absolute;
            top: -2rem; left: -3%;
            height: 60vh;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            background-color: var(--moz-color-primary);
            opacity: 0.25;
            filter: blur(3rem);
            animation: move-around1 10s infinite linear;

            @keyframes move-around1 {
                0% { transform: translate(0, 0); }
                25% { transform: translate(-10rem, -8rem); }
                50% { transform: translate(-20rem, 10rem); }
                75% { transform: translate(-2rem, 8rem); }
                100% { transform: translate(0, 0); }
            }
        }
    
        .violet-blur{
            position: absolute;
            top: 0; right: -40%;
            height: 150vh;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            background-color: var(--moz-color-secondary);
            opacity: 0.25;
            filter: blur(5rem);
            animation: move-around2 15s infinite linear;
            
            @keyframes move-around2 {
                0% { transform: translate(0, 0); }
                25% { transform: translate(-14rem, 10rem); }
                50% { transform: translate(15rem, 3rem); }
                75% { transform: translate(-8rem, -5rem); }
                100% { transform: translate(0, 0); }
            }
        }
    }

    .head-footer {
        position: relative;
        display: flex;
        width: 100%; height: fit-content;
        max-width: 1000px;
        margin: auto;
        flex-wrap: wrap;
        padding: var(--moz-space-3) 0 var(--moz-space-2);
        z-index: 2;
        
            .space-logo {
                width: fit-content; height: auto;
                align-items: center;
        
                img {
                    width: auto; height: 3rem;
                    margin-bottom: var(--moz-space-2);
                }
        
                p {
                    @include moz.moz-typography('footer');
                    width: fit-content;
                }
            }
        
            .short-link {
                display: flex;
                width: fit-content; height: auto;
                gap: var(--moz-space-2);
                
                    .box {
                        flex: 1 1 13rem;
                        display: flex;
                        width: 100%; height: auto;
                        padding: 0 var(--moz-space-2) var(--moz-space-4);
                        justify-content: start;
                        flex-direction: column;
                        gap: var(--moz-space-2);
                        &:first-child { border-left: none;}
                
                        h6, p { width: fit-content; white-space: nowrap;}
                
                        .text-btn {
                            font-size: 0.9rem;
                            transition: all var(--moz-duration);
                            cursor: pointer;
                            &:hover { color: var(--moz-color-primary);}
                        }
                    }
            }
    }

    footer {
        position: relative;
        display: flex;
        width: 100%; height: fit-content;
        padding: var(--moz-space-1) var(--moz-space-1);
        border-top: solid 0.08rem var(--moz-color-primary);
        justify-content: space-between;
        flex-wrap: wrap;
        gap: var(--moz-space-2);
        z-index: 3;

        @include moz.moz-typography('footer');

        .copyright {
            flex: 1 1 11rem;
            text-align: right;

            @media (max-width: 251px) {
                text-align: center;
            }
        }
    }
}