
<div id="home" class="first-sect section">
    <div class="hero" [style.padding-top]="screen() === 'mobile' ? '3.5rem' : '4rem'">
        <span class="flex w-full pt-3 px-5 container" [class.flex-col]="screen() !== 'desktop'">
            <div class="hero-title" [style.padding]="screen() === 'desktop' ? '0 var(--moz-space-4) var(--moz-space-4) 0' : '0'">
                <h1 style="line-height: 1.2;">Design with Intention. Build with Joy.</h1>
                <p class="description">
                    It is my playground for thoughtful components, friendly patterns, and small touches that make everyday UI work more fun than frustrating.
                </p>
            </div>
            <div #box1 class="hero-update" [class.w-full]="screen() !== 'desktop'">
                <div class="card-outer" [style.height]="screen() !== 'desktop' ? '60dvh' : heightPx">
                    <moz-card model="outline" color="primary">
                        <div class="flex flex-col w-full h-full scrollable">
                            <div class="flex flex-col w-full py-3 px-2 gap-4">
                                <h3>Update</h3>
                                <div class="flex w-full h-full pr-1 gap-4 flex-col">
                                    @for (item of versionUpdates.slice(0, 5); track item; let i = $index) {
                                        <div class="update-box">
                                            <div class="version" [class.latest]="i === 0">
                                                <h5>{{item.version}}</h5>
                                                <p class="date">{{item.date}}</p>
                                            </div>
                                            <div class="contents">
                                                <h5 class="mb-2">{{item.name}}</h5>
                                                <div class="list-group">
                                                    @for (content of item.contents; track content) {
                                                        <div class="flex gap-1">
                                                            <img [src]="'assets/images/logo/mozek_vector_' + (i === 0 ? 'violet' : 'blue') + '.svg'" alt="Mozek Logo as a Point">
                                                            <p>{{content}}</p>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </moz-card>
                </div>
            </div>
        </span>
    </div>
    <div class="about">
        <div class="bg-dot"></div>
        <span
            class="flex w-full h-full px-5 gap-2 z-10 container"
            style="position: relative;"
            [style.flex-direction]="screen() !== 'desktop' ? 'column-reverse' : 'row'"
        >
            <div class="about-1-sect">
                <moz-card model="outline" color="primary" class="h-full card-about">
                    <div class="flex w-full h-full py-2 px-3 flex-col gap-5">
                        <h3>What's Exciting?</h3>
                        <div class="flex flex-col gap-3" [class.pl-3]="screen() !== 'mobile'">
                            @for (item of provided; track item) {
                                <div class="list">
                                    <img src="assets/images/logo/mozek_vector_blue.svg" alt="Mozek Logo Violet">
                                    <p>{{item}}</p>
                                </div>
                            }
                        </div>
                    </div>
                </moz-card>
            </div>
            <div class="about-2-sect" [class.w-full]="screen() !== 'desktop'">
                <div #box2
                    [class.spacer]="screen() === 'desktop'"
                    [class.height-mobile]="screen() !== 'desktop'"
                ></div>
                <div class="speed-action" [style.padding]="screen() !== 'desktop' ? 'var(--moz-space-2) 0 0' : 'var(--moz-space-2) 0'">
                    <div class="flex gap-2">
                        <div class="spacer w-full">
                            <moz-button model="tonal" color="primary" (click)="navigateTo('https://www.npmjs.com/package/mozek-angular')" full>Get NPM</moz-button>
                        </div>
                        <div class="spacer w-full">
                            <moz-button model="flavor" full>Get Start</moz-button>
                        </div>
                    </div>
                </div>
            </div>
        </span>
    </div>
</div>

<div class="section">
    <div class="package px-5 container" [class.flex-col]="screen() !== 'desktop'">
        <div class="sect-1">
            <img src="assets/images/isometric-computer-set.jpg" alt="">
        </div>
        <div class="sect-2">
            <moz-card model="flavor" color="primary">
                <div class="flex flex-col py-2 px-3 gap-2">
                    <div class="intro" [class]="screen() !== 'desktop' ? 'left' : 'right'">
                        <h3>Original Recipe</h3>
                        <p class="description">Mozek is open and free to use. Build with it, explore it, and enjoy creating along the way.</p>
                    </div>
                    <div class="flex w-full flex-wrap gap-2">
                        @for (item of features; track item) {
                            <moz-card model="outline" color="primary" class="features" (click)="navigateTo(item.url)" advance>
                                <moz-card-media>
                                    <img [src]="item.img" class="features-image" [alt]="item.name">
                                </moz-card-media>
                                <moz-card-body>
                                    <div class="pt-2">
                                        <h6 class="w-full text-center">{{item.name}}</h6>
                                    </div>
                                </moz-card-body>
                            </moz-card>
                        }
                    </div>
                </div>
            </moz-card>
        </div>
    </div>
</div>