<div class="sect-title">
    <div class="title container">
        <img src="assets/images/logo/mozek_vector_blue.svg" alt="Mozek Logo Point">
        {{retitle(title) | titlecase}}
    </div>
    <div class="subtitle">
        <h4><span class="tag">&lt;</span>moz-{{title}}<span class="tag">&gt;</span></h4>
        <p class="description-text">{{description}}</p>
    </div>
</div>

<div class="container">
    <div class="sample">
        <div class="title">
            <img src="assets/images/logo/mozek_vector_blue.svg" alt="Mozek Logo Point">
            Model
        </div>
        <div class="description pb-0">
            <p>Demonstrates different visual styles of the button icon component based on the model attribute.</p>
        </div>
        @for (model of models; track model) {
            <div class="content">
                <div class="sub-title">{{ model | titlecase }}</div>
                <div class="sample-box">
                    <moz-button-icon [model]="model">
                        <moz-icon>home</moz-icon>
                    </moz-button-icon>
                    <div class="flex w-full flex-wrap gap-2">
                        @for (color of colors; track color) {
                            <moz-button-icon [model]="model" [color]="color">
                                <moz-icon>close_circle</moz-icon>
                            </moz-button-icon>
                        }
                    </div>
                </div>
                <div class="sample-code">
                    <div class="open-code" (click)="openSource(model)">
                        Source Code 
                        <moz-icon color="#ffffff" [style.transform]="isOpen(model) ? 'rotate(180deg)' : 'rotate(0deg)'">arrow_alt_down</moz-icon>
                    </div>
                    <div class="code-space" [class.is-open]="isOpen(model)" [style.max-height]="isOpen(model) ? '50rem' : '0'">
                        @for (color of colors; track color) {
                            <p class="code">
                                <mozek-code tag="moz-button-icon" [model]="model" [color]="color">
                                    <mozek-code tag="moz-icon" inline>
                                        close_circle
                                    </mozek-code>
                                </mozek-code>
                            </p>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    
    <div class="sample">
        <div class="title">
            <img src="assets/images/logo/mozek_vector_blue.svg" alt="Mozek Logo Point">
            Gap
        </div>
        <div class="description pb-0">
            <p>Illustrates the button icon component with added spacing (gap) between the icon and the button edges for improved aesthetics and clickability.</p>
        </div>
        @for (model of models; track model) {
            <div class="content">
                <div class="sub-title">{{ model | titlecase }}</div>
                <div class="sample-box">
                    <moz-button-icon [model]="model" gap>
                        <moz-icon>home</moz-icon>
                    </moz-button-icon>
                    <div class="flex w-full flex-wrap gap-2">
                        @for (color of colors; track color) {
                            <moz-button-icon [model]="model" [color]="color" gap>
                                <moz-icon>close_circle</moz-icon>
                            </moz-button-icon>
                        }
                    </div>
                </div>
                <div class="sample-code">
                    <div class="open-code" (click)="openSource(model + 'gap')">
                        Source Code 
                        <moz-icon color="#ffffff" [style.transform]="isOpen(model + 'gap') ? 'rotate(180deg)' : 'rotate(0deg)'">arrow_alt_down</moz-icon>
                    </div>
                    <div class="code-space" [class.is-open]="isOpen(model + 'gap')" [style.max-height]="isOpen(model + 'gap') ? '50rem' : '0'">
                        @for (color of colors; track color) {
                            <p class="code">
                                <mozek-code tag="moz-button-icon" [model]="model" [color]="color" extra="gap">
                                    <mozek-code tag="moz-icon" inline>
                                        close_circle
                                    </mozek-code>
                                </mozek-code>
                            </p>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>