<div class="sect-title">
    <div class="title container">
        <img src="assets/images/logo/mozek_vector_blue.svg" alt="Mozek Logo Point">
        {{title | titlecase}}
    </div>
    <div class="subtitle">
        <h4><span class="tag">&lt;</span>moz-{{title}}<span class="tag">&gt;</span></h4>
        <p class="description-text">{{description}}</p>
    </div>
</div>

<div class="container">
    <div class="sample">
        <div class="title">
            <img src="assets/images/logo/mozek_vector_blue.svg" alt="Mozek Logo Point">
            Model
        </div>
        <div class="description pb-0">
            <p>Demonstrates various card models, each with unique styles and layouts, showcasing the versatility of the card component.</p>
        </div>
        @for (model of models1; track model) {
            <div class="content">
                <div class="sub-title">{{ model | titlecase }}</div>
                <div class="sample-box">
                    <div class="flex w-full flex-wrap gap-2">
                        <moz-card [model]="model" color="primary" style="width: 15rem;">
                            <moz-card-media>
                                <img src="https://www.klcc.com.my/investor-relations/reports/klccpstapledgroupiar2025.bitesite/img/hero-klcc-anim.jpg">
                            </moz-card-media>
                            <moz-card-body>
                                Mozek Card Content<br>(Media)
                            </moz-card-body>
                        </moz-card>
                        @for (color of colors; track color) {
                            <moz-card [model]="model" [color]="color">
                                <moz-card-header>Mozek Card Header</moz-card-header>
                                <moz-card-body>Mozek Card Content ({{color | titlecase}})</moz-card-body>
                                <moz-card-footer>Mozek Card Footer</moz-card-footer>
                            </moz-card>
                        }
                    </div>
                </div>
                <div class="sample-code">
                    <div class="open-code" (click)="openSource(model)">
                        Source Code 
                        <moz-icon color="#ffffff" [style.transform]="isOpen(model) ? 'rotate(180deg)' : 'rotate(0deg)'">arrow_alt_down</moz-icon>
                    </div>
                    <div class="code-space" [class.is-open]="isOpen(model)" [style.max-height]="isOpen(model) ? '60rem' : '0'">
                        <p class="code">
                            <mozek-code tag="moz-card" [model]="model" color="primary">
                                <mozek-code tag="moz-card-media">
                                    <mozek-code tag="img" img="https://www.klcc.com.my/img/hero-klcc-anim.jpg"></mozek-code>
                                </mozek-code><br>
                                <mozek-code tag="moz-card-body" inline>Mozek Card Content(Media)</mozek-code><br>
                            </mozek-code>
                        </p>
                        @for (color of colors; track color) {
                            <p class="code">
                                <mozek-code tag="moz-card" [model]="model" [color]="color">
                                    <mozek-code tag="moz-card-header" inline>Mozek Card Header</mozek-code><br>
                                    <mozek-code tag="moz-card-body" inline>Mozek Card Content</mozek-code><br>
                                    <mozek-code tag="moz-card-footer" inline>Mozek Card Footer</mozek-code>
                                </mozek-code>
                            </p>
                        }
                    </div>
                </div>
            </div>
            @if(model === 'fill' || model === 'flavor') {
                <div class="content">
                    <div class="sub-title">{{ model | titlecase }} (Advance)</div>
                    <div class="sample-box">
                        <div class="flex w-full flex-wrap gap-2">
                            <moz-card [model]="model" color="primary" style="width: 15rem;" advance>
                                <moz-card-media>
                                    <img src="https://www.klcc.com.my/investor-relations/reports/klccpstapledgroupiar2025.bitesite/img/hero-klcc-anim.jpg">
                                </moz-card-media>
                                <moz-card-body>
                                    Mozek Card Content<br>(Media)
                                </moz-card-body>
                            </moz-card>
                            @for (color of colors; track color) {
                                <moz-card [model]="model" [color]="color" advance>
                                    <moz-card-header>Mozek Card Header</moz-card-header>
                                    <moz-card-body>Mozek Card Content ({{color | titlecase}})</moz-card-body>
                                    <moz-card-footer>Mozek Card Footer</moz-card-footer>
                                </moz-card>
                            }
                        </div>
                    </div>
                    <div class="sample-code">
                        <div class="open-code" (click)="openSource(model + '-advance')">
                            Source Code 
                            <moz-icon color="#ffffff" [style.transform]="isOpen(model + '-advance') ? 'rotate(180deg)' : 'rotate(0deg)'">arrow_alt_down</moz-icon>
                        </div>
                        <div class="code-space" [class.is-open]="isOpen(model + '-advance')" [style.max-height]="isOpen(model + '-advance') ? '50rem' : '0'">
                            <p class="code">
                                <mozek-code tag="moz-card" [model]="model" color="primary" extra="advance">
                                    <mozek-code tag="moz-card-media">
                                        <mozek-code tag="img" img="https://www.klcc.com.my/img/hero-klcc-anim.jpg"></mozek-code>
                                    </mozek-code><br>
                                    <mozek-code tag="moz-card-body" inline>Mozek Card Content(Media)</mozek-code><br>
                                </mozek-code>
                            </p>
                            @for (color of colors; track color) {
                                <p class="code">
                                    <mozek-code tag="moz-card" [model]="model" [color]="color" extra="advance">
                                        <mozek-code tag="moz-card-header" inline>Mozek Card Header</mozek-code><br>
                                        <mozek-code tag="moz-card-body" inline>Mozek Card Content</mozek-code><br>
                                        <mozek-code tag="moz-card-footer" inline>Mozek Card Footer</mozek-code>
                                    </mozek-code>
                                </p>
                            }
                        </div>
                    </div>
                </div>
            }
        }
        @for (model of models2; track model) {
            <div class="content">
                <div class="sub-title">{{ model | titlecase }}</div>
                <div class="sample-box" [class.glass-background]="model === 'glass'">
                    <div class="flex w-full flex-wrap gap-2">
                        <moz-card [model]="model" color="primary" style="width: 15rem;">
                            <moz-card-media>
                                <img src="https://www.klcc.com.my/investor-relations/reports/klccpstapledgroupiar2025.bitesite/img/hero-klcc-anim.jpg">
                            </moz-card-media>
                            <moz-card-body>
                                Mozek Card Content<br>(Media)
                            </moz-card-body>
                        </moz-card>
                        <moz-card [model]="model">
                            <moz-card-header>Mozek Card Header</moz-card-header>
                            <moz-card-body>Mozek Card Content</moz-card-body>
                            <moz-card-footer>Mozek Card Footer</moz-card-footer>
                        </moz-card>
                    </div>
                </div>
                <div class="sample-code">
                    <div class="open-code" (click)="openSource(model)">
                        Source Code 
                        <moz-icon color="#ffffff" [style.transform]="isOpen(model) ? 'rotate(180deg)' : 'rotate(0deg)'">arrow_alt_down</moz-icon>
                    </div>
                    <div class="code-space" [class.is-open]="isOpen(model)" [style.max-height]="isOpen(model) ? '18rem' : '0'">
                        <p class="code">
                            <mozek-code tag="moz-card" [model]="model">
                                <mozek-code tag="moz-card-media">
                                    <mozek-code tag="img" img="https://www.klcc.com.my/img/hero-klcc-anim.jpg"></mozek-code>
                                </mozek-code><br>
                                <mozek-code tag="moz-card-body" inline>Mozek Card Content(Media)</mozek-code><br>
                            </mozek-code>
                        </p>
                        <p class="code">
                            <mozek-code tag="moz-card" [model]="model">
                                <mozek-code tag="moz-card-header" inline>Mozek Card Header</mozek-code><br>
                                <mozek-code tag="moz-card-body" inline>Mozek Card Content</mozek-code><br>
                                <mozek-code tag="moz-card-footer" inline>Mozek Card Footer</mozek-code>
                            </mozek-code>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
    
    <div class="sample">
        <div class="title">
            <img src="assets/images/logo/mozek_vector_blue.svg" alt="Mozek Logo Point">
            Loading
        </div>
        <div class="description pb-0">
            <p>Demonstrates the skeleton loading state of the card component, providing a visual placeholder while content is being fetched or processed.</p>
        </div>
        <div class="content">
            <div class="sub-title">Skeleton Loading</div>
            <div class="sample-box glass-background">
                <div class="flex w-full flex-wrap gap-2">
                    @for (model of models; track model) {
                        <moz-card [model]="model" color="primary" loading></moz-card>
                    }
                </div>
            </div>
            <div class="sample-code">
                <div class="open-code" (click)="openSource('disabled')">
                    Source Code 
                    <moz-icon color="#ffffff" [style.transform]="isOpen('disabled') ? 'rotate(180deg)' : 'rotate(0deg)'">arrow_alt_down</moz-icon>
                </div>
                <div class="code-space" [class.is-open]="isOpen('disabled')" [style.max-height]="isOpen('disabled') ? '12rem' : '0'">
                    @for (model of models; track model) {
                        <p class="code">
                            <mozek-code tag="moz-card" [model]="model" color="primary" extra="loading" inline></mozek-code>
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>