@use "mozek-angular/src/styles" as moz;

:host {
    position: relative;
    width: 100%; height: fit-content;

    .container {
        margin: 0 auto;
        max-width: 100%;
        @media (min-width: 1400px) { max-width: 72rem;}
    }

    .section {
        width: 100%; height: fit-content;
        border-bottom: solid 0.1rem var(--moz-color-primary-lite);
        &:nth-last-child(1) { border: none;}
    }

    .relative { position: relative;}
}

.hero {
    position: relative;
    width: 100%; height: 30dvh;
    background: color-mix(in srgb, var(--moz-main-bg) 30%, white 70%);
    overflow: hidden;

    .bg-icons {
        position: absolute;
        top: 0; left: 0; right: 0;
        display: flex;
        width: 100%; height: 100%;
        gap: var(--moz-space-2);
        flex-wrap: wrap;

        @media (max-width: 768px) {
            gap: var(--moz-space-1);
        }

        .icon {
            flex: 1 1 2rem;
            width: 100%; height: fit-content;
        }
    }

    .hero-cap {
        position: absolute;
        top: 0; left: 0; right: 0;
        display: flex;
        width: 100%; height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .hero-text {
            display: flex;
            width: 60%; height: 100%;
            padding: var(--moz-space-4);
            border-left: solid 0.2rem var(--moz-main-bg);
            border-right: solid 0.2rem var(--moz-main-bg);
            background-color: var(--moz-color-background);
            box-shadow: 0 -0.2rem 0 var(--moz-main-bg);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: var(--moz-space-2);
            text-align: center;

            @media (max-width: 768px) {
                padding: var(--moz-space-2);
            }
        }
    }
}

.actions-bar {
    display: flex;
    width: 100%; height: fit-content;
    padding: var(--moz-space-2) var(--moz-space-3);
    border-top: solid 0.15rem var(--moz-main-bg);
    border-bottom: solid 0.15rem var(--moz-main-bg);
    background-image: repeating-linear-gradient(
        45deg, color-mix(in srgb, var(--moz-main-bg) 50%, white) 0px 0.1rem,
        color-mix(in srgb, var(--moz-main-bg) 35%, white) 0.1rem 0.5rem
    );
    justify-content: space-between;
    gap: var(--moz-space-1);

    .color-pick {
        display: flex;
        align-items: center;
        gap: var(--moz-space-1);
        .colorpick-button {
            padding: var(--moz-space-1);
            border: none;
            border-radius: 50%;
            box-shadow: 0 0 0 0.2rem var(--moz-color-background);
            @include moz.root-button()
        }
    }

    .relative {
        .tooltip {
            position: absolute;
            pointer-events: none;
            z-index: 10;
            transition: all var(--moz-duration);
    
            .blackcard {
                width: fit-content; height: fit-content;
                padding: 0 var(--moz-space-3);
                border-radius: var(--moz-radius-sm);
                background: var(--moz-color-text);
                white-space: nowrap;
                p {
                    text-align: center;
                    color: var(--moz-color-background);
                    text-transform: capitalize;
                    @include moz.moz-typography('footer')
                }
            }

            // Placement
            &.top {
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                animation: fadein 0.08s ease-in forwards;
                opacity: 0;
            }

            &.topleft {
                right: 0%;
                top: 0;
                transform: translateX(0);
                animation: fadein 0.08s ease-in forwards;
                opacity: 0;
            }

            @keyframes fadein {
                to {
                    top: calc(var(--moz-space-3) * -1);
                    opacity: 1;
                }
            }
        }
    }
}

.groups {
    display: grid;
    width: 100%; height: fit-content;

    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-auto-rows: auto;
    gap: var(--moz-space-2);

    .card {
        cursor: pointer;
        transition: all var(--moz-duration);

        &:hover {
            scale: 1.05;
        }

        p.label {
            width: 100%;
            text-align: center;
        }
    }

    .tooltip {
        position: absolute;
        top: 0; left: 0; right: 0;
        display: flex;
        width: 100%; height: fit-content;
        justify-content: center;
        opacity: 0;
        animation: tooltip var(--moz-duration-fast) ease-in forwards;

        @keyframes tooltip {
            to {
                top: calc(-4.5rem);
                opacity: 1;
            }
        }

        .blackcard {
            width: fit-content; height: fit-content;
            padding: var(--moz-space-1) var(--moz-space-3);
            border: solid 0.1rem color-mix(in srgb, var(--moz-main-bg) 85%, black 15%);
            border-radius: var(--moz-radius-sm);
            p {
                text-align: center;
                color: var(--moz-color-background);
                @include moz.moz-typography(footer)
            }
        }
    }
}

.dialog-colorpick {
    position: fixed;
    top: 0; left: 0; right: 0;
    display: flex;
    width: 100%; height: 100dvh;
    justify-content: center;
    align-items: center;

    .dialog-box {
        display: flex;
        align-items: center;
    }
}